<app-combobox
  [options]="countries"
  [multiple]="true"
  placeholder="Select multiple countries"
  (valueChange)="onCountrySelected(0, $event)"
></app-combobox>
@if (selectedCountries[0]) {
  <p>You selected: <strong>{{ selectedCountries[0] }}</strong></p>
}


<hr />

<app-combobox
  [options]="countries"
  [multiple]="false"
  placeholder="Select a country"
  (valueChange)="onCountrySelected(1, $event)"
></app-combobox>
@if (selectedCountries[1]) {
  <p>You selected: <strong>{{ selectedCountries[1] }}</strong></p>
}

