<div class="combobox-container fw-combobox" [title]="tooltipText">
  <div class="combobox-input">
    @if (searchable) {
      <input
        [ngModel]="searchText"
        (ngModelChange)="onInputChange($event)"
        [placeholder]="selected.length ? '' : placeholder"
        (focus)="openDropdown()"
      />

      @if (selected.length && !searchText) {
        <span class="selected-preview">{{ displayPlaceholder }}</span>
      }
    } @else {
      <div class="non-searchable" (click)="toggleDropdown()">
        {{ displayPlaceholder }}
      </div>
    }

    <span class="arrow" (click)="toggleDropdown()">
      {{ isOpen ? '▲' : '▼' }}
    </span>
  </div>

  <ul
    class="combobox-options fw-listbox"
    [class.open]="isOpen"
    [class.closed]="!isOpen"
  >
    @if (filteredOptions.length === 0) {
      <li class="no-result disabled">No result found</li>
    }

    @for (option of filteredOptions; let i = $index; track option) {
        <li
          #optionItem
          (click)="selectOption(option)"
          [class.disabled]="isDisabled(option)"
          [class.highlighted]="i === highlightedIndex"
          [class.selected]="isSelected(option)"
        >
          @if (multiple) {
            <input type="checkbox" [checked]="isSelected(option)" />
          }
          {{ option }}
        </li>
    }
  </ul>
</div>
