<div class="combobox-container fw-combobox" [title]="tooltipText">
  <div class="combobox-input">
    @if (searchable) {
      <input
        [ngModel]="searchText"
        (ngModelChange)="onInputChange($event)"
        [placeholder]="placeholder"
        (focus)="openDropdown()"
      />
    } @else {
      <div class="non-searchable" (click)="toggleDropdown()">
        {{ displayPlaceholder }}
      </div>
    }

    <span class="arrow" (click)="toggleDropdown()">
      {{ isOpen ? '▲' : '▼' }}
    </span>
  </div>

  <ul
    class="combobox-options fw-listbox"
    [class.open]="isOpen"
    [class.closed]="!isOpen"
  >
    @if (filteredOptions.length === 0) {
      <li class="no-result disabled">No result found</li>
    }

    @for (option of filteredOptions; let i = $index; track option) {
      <li
        #optionItem
        (click)="selectOption(option)"
        [class.disabled]="isDisabled(option)"
        [class.highlighted]="i === highlightedIndex"
        [class.selected]="isSelected(option)"
      >
        <input type="checkbox" [checked]="isSelected(option)" />
        {{ option }}
      </li>
    }
  </ul>
</div>
